<a ui-sref="home">home</a>

<div ng-controller="assignmentCTRL" class="wrapper">

    <header class="contact-us">
        <h1>Assignments</h1>
    </header>

    <form class="form" ng-submit="assign(htmlCredentials)" novalidate>
        <p class="error" ng-repeat="errorMessage in error.generic" ng-bind="errorMessage">
        </p>
            <!-- ng-model refers to credentials object(empty) in controller -->
            <h2>Name</h2>
            <input type="text" ng-model="htmlCredentials.title" placeholder="Name of the Assignent">
            <span ng-bind="error.title"></span>

            <!-- ng-model refers to credentials object(empty) in controller -->
            <h2>Due On</h2>
            <input type="text" ng-model="htmlCredentials.due" placeholder="When is it due?">
            <span ng-bind="error.due"></span>

            <h2>URL</h2>
            <input type="link" ng-model="htmlCredentials.link" placeholder="Paste Link">
            <span ng-bind="error.link"></span>

            <button type="submit">Submit</button>
            
    </form>  

    <div>
        <a ui-sref="home">Home</a>
    </div>
</div>