<a ui-sref="home">home</a>

<div class="wrapper">

    <header class="contact-us">
        <h1>Register</h1>
    </header>

    <form class="form" ng-submit="register(htmlCredentials)" novalidate>
        <p class="error" ng-repeat="errorMessage in error.generic" ng-bind="errorMessage">
        </p>
            <!-- ng-model refers to credentials object(empty) in controller -->
            <h2>Email</h2>
            <input type="text" ng-model="htmlCredentials.identifier" placeholder="Email">
            <span ng-bind="error.identifier"></span>

            <!-- ng-model refers to credentials object(empty) in controller -->
            <h2>Password</h2>
            <input type="password" ng-model="htmlCredentials.password" placeholder="Password">

            <button type="submit">Submit</button>
            <span ng-bind="error.password"></span>
    </form>  

    <div>
        <a ui-sref="login">Login Page</a>
    </div>
</div>