<a ui-sref="home">home</a>

<div class="wrapper">

    <header class="contact-us">
        <h1>Dashboard</h1>
    </header>

    <form class="form" ng-submit="dashboard()" novalidate>
        <p class="error" ng-repeat="errorMessage in error.generic" ng-bind="errorMessage">
        </p>

        <div ng-repeat="assignment in assignments">
            <div>{{ assignment.name }}</div>
            <a ng-href="{{ assignment.url }}">Assignment Link</a>
            <div>{{ assignment.dueAt }}</div>

        </div>

            <button type="Get Assignments">Submit</button>
            
    </form>  
</div>