Login<a ui-sref="home">Home</a>

<div ng-controller="loginCTRL" class="wrapper">

    <header class="contact-us">
        <h1>Login</h1>
    </header>

    <form ng-submit="login(htmlCredentials)">
        <p class="error" ng-repeat="errorMessage in error.generic" ng-bind="errorMessage"></p>
        <h2>Email</h2>
        <input type="text" ng-model="email" placeholder="Email" ng-model="credentials.identifer">
        <p class="error" ng-bind="error.identifier"></p>
    
        <h2>Password</h2>
        <input type="password" ng-model="credentials.password" placeholder="Website" name="Website" ng-change="passChg(password)">
        <p class="error" ng-bind="error.password"></p>

        <button>Submit</button>
    </form>  

    <div>
        <a ui-sref="register">Register Page</a>
    </div>
</div>